/* .navbar-toggler-icon{
    width:30px
}
.navbar form.w-25{
    width: 30%!important;
} */
i, a{
   cursor: pointer; 
}
.comment, .reply, .reply-comment, .btn{
    border-radius: 20px !important;
}
img{
    width:40px;
}
.img-icon{
    width: 40px;
    height: 40px;
    cursor:pointer;
    object-fit: cover;
}