.notif .notif-content{
    left: unset !important; 
    width: 40vw; 
    right: 0;
    max-height:50vh; 
    overflow-y: overlay;
}
@media (max-width: 576px){
    .notif .notif-content{
        width:90vw;
        right: -50px;
    }   
}

i, a{
    cursor: pointer; 
}
.comment, .reply, .reply-comment, .btn{
    border-radius: 20px !important;
}
img{
    width:40px;
}
.img-icon{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.img-icon-sm{
    width: 20px;
    height: 20px;
    object-fit: cover;
}