extends ../main
block variables
    -let pageTitle = 'Forgot Password'
block content
    if(alert)
        .alert.alert-dismissible.fade.show.w-100.text-center(class="alert-"+alert.type)= alert.msg
            button.btn-close(data-bs-dismiss="alert")
    .container.text-center
        h1(class=' text-primary mt-4') Reset The Password 
        p.mb-5 enter your account email and we will send you a password reset link.
        form(class='send-forgot-email w-50 m-auto needs-validation', action="/account/password-forgot/send-email", method='post')
            input(class='form-control', type='email', name='email', placeholder='enter your email', required)
            button(class="btn btn-primary mt-3 mb-3", type='submit') Send
block js 
    script(src="/js/forgetPass.js") 