extends ../main
block variables
    - var pageTitle = 'My Content'
block content 
    .container.mt-3
        .reviewed
            h1 My Contents
            .reviewed-content.d-flex.flex-wrap.justify-content-center.gap-3
                each content in contents.reviewed
                        .card.text-center(style="width: 18rem; cursor:pointer", onclick="openContent('"+content.id+"')")
                            .card-body
                                h3.card-text.content-name.text-primary= content.name
                                p= "comments: "+ content.commentsNum
                if(!contents.reviewed.length)
                    .alert.alert-secondary.text-center.w-100 No content was reviewed yet
        if(user.isAuthor)
            hr
            .under-review
                h1 Under Review Contents
                .under-review-content.d-flex.flex-wrap.justify-content-center.gap-3
                    each content in contents.underReview
                            .card.text-center(style="width: 18rem; cursor:pointer", id=content._id, onclick="openContent('"+content.id+"')")
                                .card-body
                                    h3.card-text.content-name.text-primary= content.name
                    if(!contents.underReview.length)
                        .alert.alert-secondary.text-center.w-100 No content under review
        hr
        .card.text-center.m-auto(style="width: 18rem; cursor:pointer")
            .card-body
                span.card-text.text-primary(type="button" data-bs-toggle="modal" data-bs-target=".modal.add-content") 
                    i.fa-solid.fa-circle-plus(style="font-size: 60px;")
                    h3 Add
        .modal.fade.add-content
            .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
                .modal-content
                    form(action='/content/add' method='post')
                        .modal-header
                            h1.modal-title.fs-5 Add Content
                            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        .modal-body
                            .input-group.mt-3.mb-3
                                span.input-group-text Content Name
                                input.form-control(type='text' name='name' required)
                            .alert.alert-info.w-100 edit the code in myContent.pug to add the reset of the data that your content use
                        .modal-footer
                            if(user.isAuthor)
                                button.btn.btn-success(type="button", onclick="confirmReviewer(this)") Save
                            else
                                button.btn.btn-success(type="submit") Save
block js 
    script(src="/js/myContent.js") 