extends ../main
block variables
    -let pageTitle = 'Reset The Password'
block content
    .container.text-center
        h1(class='text-primary mt-4') Reset The Password 
        p.mb-5 enter the new password.
        form(class='reset-pass w-50 m-auto needs-validation was-validated', action="/account/password-reset", method='post')
            input(type="hidden", name="id", value=id)
            input(type="hidden", name="resetCode", value=resetCode)
            .password-container
                input.form-control.mt-3(type='password', pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}", name='password', placeholder='Enter the new password',required)
                .invalid-feedback.main-password.w-auto
                .repeat
                    input.form-control.repeat-pass.mt-3(type='password', placeholder='Enter the new password again', required)
                    .invalid-feedback.repeated-password.w-auto The password not matched
            button(class="btn btn-primary mt-3 mb-3", type='submit') Reset
block js 
    script(src="/js/resetPass.js") 