extends ../main
block variables
    -let pageTitle = 'Sign Up'
block content
    .container
        h1(class='text-center text-primary mt-5') Create Account 
        form(class='signup w-50 text-center m-auto needs-validation mt-5' action="/account/signup" method='post')
            input(class='form-control', type='text', pattern="^[0-9a-zA-Z_]{3,}$", name='name', placeholder='enter your name' required)
            .invalid-feedback The field should not be empty and not contain spaces or special characters 
            input(class='form-control', type='email', name='email', placeholder='enter your email' required)
            .password-container
                input(class='form-control mt-3' type='password' pattern="(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name='password' placeholder='Enter password' required)
                .invalid-feedback.main-password.w-auto 
                input(class='form-control repeat-pass mt-3' type='password' placeholder='Enter the password again' required)
                .invalid-feedback.repeated-password.w-auto The password not matched
            div(class='form-check mt-3 d-flex justify-content-center gap-3')
                input(class='form-check-input' id='check' type='checkbox' required)
                lable(class='form-check-lable' for='check') accept our licence
                .invalid-feedback.w-auto You must agree before submitting.
            button(class="btn btn-primary mt-3 mb-3", type='submit') Sign Up
        .text-center
            span did you have account ?
            | 
            a(href='/account/login') Login
        if(error)
            p(class="alert alert-danger mt-3")= error
block js 
    script(src="/js/signup.js") 